.heading {
	font-family:'JetBrains Mono', monospace;
	font-feature-settings: "calt" 1, "liga" 1; /* 启用连字 */
	-webkit-font-feature-settings: "calt", "liga";
	font-variant-ligatures: contextual;

	background: #f1f5f9;
	border-radius: 16px;              /* 圆角 */
	border: 1px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.08); /* 柔光阴影 */
}

.body {
    min-height: 100vh; /* 撑满全屏 */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}
